{
    "parser": "@babel/eslint-parser",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jquery": true
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "requireConfigFile": false,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "semi": 2,
      "react/jsx-uses-react": "error",   
      "react/jsx-uses-vars": "error" 
    },
    "globals": {
      "__webpack_public_path__": "readonly",
      "IMAGES": "readonly",
      "GAME_SESSION_START_API_ENDPOINT": "readonly",
      "GAME_SESSION_FINISH_API_ENDPOINT": "readonly",
      "GAME_SESSION_DELETE_API_ENDPOINT": "readonly",
      "INDEX_URL": "readonly",
      "WEBSOCKETS_ROUTE": "readonly",
      "FEEDBACK_API_ENDPOINT": "readonly",
      "RESULT_API_ENDPOINT": "readonly",
      "SESSION_ID": "readonly",
      "SESSION_RESULT": "readonly",
      "SESSION_FEEDBACK": "readonly"
    }
  }