// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/* Navbar elements
   ========================================================================== */

html,
body { height: 100%; }

nav,
nav #title {
  transition: all 0.2s ease;
}

.blurred-background {
  backdrop-filter: blur(5px);
  mask-image:
    linear-gradient(to right, transparent 0%, rgb(0 0 0 / 100%) 5%, rgb(0 0 0 / 100%) 95%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, rgb(0 0 0 / 100%) 10%, rgb(0 0 0 / 100%) 90%, transparent 100%),;
  mask-composite: source-in; /* For Chrome */
  mask-composite: intersect; /* For Firefox */
  text-shadow: 1px 1px 2px $dark;
}

.slide-in-link {
  display: inline-block;
}

.slide-in-text {
  display: inline-block;
  width: 0;
  white-space: nowrap;
  opacity: 0;
  transition: 0.2s;
  transform: scale(0.1);
}

.slide-in-text-left {
  transform: translateX(20px);
  direction: rtl;
}

.slide-in-text-right {
  transform: translateX(-20px);
  direction: ltr;
}

.slide-in-link:hover .slide-in-text-right,
.slide-in-link:hover .slide-in-text-left {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.slide-in-link:hover .slide-in-text-top {
  opacity: 1;
  transform: translate(-50px, -20px) scale(1);
}

.slide-in-link:hover .slide-in-text-bottom {
  opacity: 1;
  transform: translate(-50px, 20px) scale(1);
}

.slide-in-link:hover .slide-in-text-top-right {
  opacity: 1;
  transform: translate(-30px, -20px) scale(1);
}

.slide-in-link:hover .slide-in-text-bottom-right {
  opacity: 1;
  transform: translate(-30px, 20px) scale(1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 3px;
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($primary, 80%);
  cursor: pointer;
}
