// -----------------------------------------------------------------------------
// This file contains global typographic rules
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

body {
  font-family: "Century Gothic Regular";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list-styled li {
  list-style: square;
}
