// -----------------------------------------------------------------------------
// This file contains several variables used accross the project
// -----------------------------------------------------------------------------

$header-height: 7vh;
$footer-height: 5vh;
$landing-section-padding: 3vh;
