// -----------------------------------------------------------------------------
// This file contains several variables used accross the project
// -----------------------------------------------------------------------------

$header-height: 7vh;
$footer-height: 5vh;
$index-section-padding: 3vh;
$red: #d2302e;
$orange: #f6a548;
$oranged-yellow: #ffcf00;
$yellow: #f4e83f;
$lime: #82bc43;
$green: #5cb885;
$cyan: #64c2c9;
$lightblue: #62abea;
$darkblue: #374e9d;
$violet: #7666ab;
$magenta: #b06ba9;
$pink: #c84893;
$primary: $darkblue;
