{% extends 'base.html' %}

{% load static %}

{% load render_bundle from webpack_loader %}

{% block specific_styles %}
    {% render_bundle 'index' 'css' %}
{% endblock specific_styles %}

{% block specific_scripts %}
    <script>
        {% autoescape off %}
            const PROJECTS = {{ projects }}
            const LANDING_BANNER = "{% get_media_prefix %}{{ banner_path }}"
        {% endautoescape %}
    </script>
    {% render_bundle 'index' 'js' %}
{% endblock specific_scripts %}

{% block content %}
    <div class = "min-vh-100">
        <div class = "index-section d-flex" id = "landing">
            <div class = "container d-flex flex-column justify-content-evenly text-center text-white">
                <div class = "landing-title pb-3 fade-in">
                    <h1 class = "display-1">
                        <span class = "icon-logo" style = "font-size: 10rem"></span>
                        <span class = "fs-1 align-middle">Studio</span>
                    </hi>
                    <blockquote class = "blockquote">
                        {% autoescape off %}{{ landing_subtitle }}{% endautoescape %}
                    </blockquote>
                </div>
                <div id = "landing-sections" class = "fade-in d-flex flex-wrap justify-content-evenly mb-3 fs-5">
                    <div class = "m-1">
                        <h3>Traduction</h3>
                        <p>{% autoescape off %}{{ translation_text }}{% endautoescape %}</p>
                    </div>
                    <div class = "m-1">
                        <h3>Lettrage</h3>
                        <p>{% autoescape off %}{{ lettering_text }}{% endautoescape %}</p>
                    </div>
                    <div class = "m-1">
                        <h3>Correction</h3>
                        <p>{% autoescape off %}{{ correction_text }}{% endautoescape %}</p>
                    </div>
                    <div class = "m-1">
                        <h3>Graphisme</h3>
                        <p>{% autoescape off %}{{ graphism_text }}{% endautoescape %}</p>
                    </div>
                    <div class = "m-1">
                        <h3>Éditeur</h3>
                        <p>{% autoescape off %}{{ edition_text }}{% endautoescape %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bs-spy = "scroll" data-bs-target = "#navbar" data-bs-root-margin = "0px 0px -40%" tabindex = "0">
        <div class = "index-section bg-white text-center" id = "studio">
            <div class = "container fade-in fs-5">
                <h2 class = "text-start fw-bold">LE STUDIO</h2>
                <div class = "row my-4 align-items-center">
                    <div class = "col-12 col-lg-3">
                        <img class = "w-100" src = {% static "images/studio-img_1.svg" %} />
                    </div>
                    <div class = "col-12 col-lg-9 text-lg-start">
                        <p>{% autoescape off %}{{ studio_first_paragraph }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class = "row my-4 flex-lg-row-reverse align-items-center">
                    <div class = "col-12 col-lg-3">
                        <img class = "w-100" src = {% static "images/studio-img_2.svg" %} />
                    </div>
                    <div class = "col-12 col-lg-9 text-lg-end">
                        <p>{% autoescape off %}{{ studio_second_paragraph }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class = "row my-4 align-items-center">
                    <div class = "col-12 col-lg-3">
                        <img class = "w-100" src = {% static "images/studio-img_3.svg" %} />
                    </div>
                    <div class = "col-12 col-lg-9 text-lg-start">
                        <p>{% autoescape off %}{{ studio_third_paragraph }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class = "row my-4 flex-lg-row-reverse align-items-center">
                    <div class = "col-12 col-lg-3">
                        <img class = "w-100" src = {% static "images/studio-img_4.svg" %} />
                    </div>
                    <div class = "col-12 col-lg-9 text-lg-end">
                        <p>{% autoescape off %}{{ studio_fourth_paragraph }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class = "row my-4 align-items-center">
                    <div class = "col-12 col-lg-3">
                        <img class = "w-100" src = {% static "images/studio-img_5.svg" %} />
                    </div>
                    <div class = "col-12 col-lg-9 text-lg-start">
                        <p>{% autoescape off %}{{ studio_fifth_paragraph }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class = "mt-5 pb-5">
                    <p>{% autoescape off %}{{ studio_bottom_text }}{% endautoescape %}</p>
                </div>
            </div>
        </div>
        <div class = "index-section bg-light" id = "projects">
            <div class = "container fade-in pb-5">
                <h2 class = "fw-bold">
                    LES PROJETS
                    <span class = "ms-3">
                        <i class = "bi bi-arrow-left custom-swiper-button-prev me-2"></i>
                        <i class = "bi bi-arrow-right custom-swiper-button-next"></i>
                    </span>
                </h2>
                <div id = "projects-app"></div>
            </div>
        </div>
        <div class = "index-section bg-white" id = "they-trust-us">
            <div class = "fade-in">
                <h2 class = "text-center fw-bold mb-3">ILS NOUS FONT CONFIANCE</h2>
                <div class = "position-absolute overflow-hidden w-100 py-3 container-fluid" id = "partners">
                    <div class = "d-flex justify-content-between align-items-center position-relative w-100 h-100" style = "z-index: 1">
                        <a href = "https://nazca-editions.fr/" target = "blank">
                            <img src = "{% static 'images/nazca-editions_logo.jpg' %}">
                        </a>
                        <a href = "https://www.naban-editions.com/" target = "blank">
                            <img src = "{% static 'images/naban_logo.png' %}">
                        </a>
                        <a href = "https://piccoma.com/fr/" target = "blank">
                            <img src = "{% static 'images/piccoma_logo.png' %}">
                        </a>
                        <a href = "https://hariken-editions.com/" target = "blank">
                            <img src = "{% static 'images/hariken_logo.png' %}">
                        </a>
                        <a href = "https://www.mangas.io/" target = "blank">
                            <img src = "{% static 'images/mangasio_logo.svg' %}">
                        </a>
                        <a href = "https://en.taicca.tw/" target = "blank">
                            <img src = "{% static 'images/taicca_logo.png' %}">
                        </a>
                        <a href = "https://www.blackbonesboutique.com/" target = "blank">
                            <img src = "{% static 'images/blackbox_logo.png' %}">
                        </a>
                        <a href = "https://www.izneo.com/fr" target = "blank">
                            <img src = "{% static 'images/izneo_logo.png' %}">
                        </a>
                        <a href = "https://jnc-nina.eu/fr" target = "blank">
                            <img src = "{% static 'images/jnc-nina_logo.png' %}">
                        </a>
                        <a></a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "index-section bg-light" id = "contact">
            <div class = "container fade-in">
                <h2 class = "fw-bold">CONTACT</h2>
                    {% autoescape off %}{{ contact_content }}{% endautoescape %}
                    {% comment %} <p>
                        Si vous souhaitez nous confier un projet, obtenir un devis ou toute autre demande, contactez-nous : 
                    </p>
                    <p>
                        <div class = "fw-bold">Hicham Chennaf</div>
                        <a class = "bi bi-at text-primary d-block" href = "mailto:hicham.chennaf@maho-editions.fr?subject=Magi Studio Contact">&nbsp;hicham.chennaf@maho-editions.fr</a>
                        <a class = "bi bi-telephone text-primary d-block" href = "href=tel:+33681158383">&nbsp;06 81 15 83 83</a>
                    </p>
                    <p>
                        Pour toutes les demandes de recrutements, ce dernier ne se fait que par co-optation. Ne nous contactez donc pas à ce sujet via cette fiche de contact.
                    </p>
                    <p>
                        Cette solution a été adopté par le studio afin de conserver une équipe de confiance et de qualité.
                    </p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
